name: Build and Deploy

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
    inputs:
      deploy_target:
        description: "Where do you want to deploy?"
        required: true
        type: choice
        options:
          - account-a
          - account-b
          - both

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # -----------------------------
    # Checkout code
    # -----------------------------
    - name: Checkout repository
      uses: actions/checkout@v4

    # -----------------------------
    # Build Docker image (ONCE)
    # -----------------------------
    - name: Build Docker image
      run: |
        docker build -t app:${{ github.sha }} .

    # =========================================================
    # ACCOUNT A
    # =========================================================
    - name: Configure AWS credentials (Account A)
      if: ${{ inputs.deploy_target == 'account-a' || inputs.deploy_target == 'both' }}
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::692859952204:role/github-actions-role
        aws-region: ap-south-1

    - name: Push image to ECR (Account A)
      if: ${{ inputs.deploy_target == 'account-a' || inputs.deploy_target == 'both' }}
      run: |
        aws ecr get-login-password \
          | docker login --username AWS --password-stdin 692859952204.dkr.ecr.ap-south-1.amazonaws.com

        docker tag app:${{ github.sha }} \
          692859952204.dkr.ecr.ap-south-1.amazonaws.com/express-poc:${{ github.sha }}

        docker push \
          692859952204.dkr.ecr.ap-south-1.amazonaws.com/express-poc:${{ github.sha }}

    - name: Deploy to EC2 via SSM (Account A)
      if: ${{ inputs.deploy_target == 'account-a' || inputs.deploy_target == 'both' }}
      run: |
        aws ssm send-command \
          --document-name "AWS-RunShellScript" \
          --targets "Key=instanceIds,Values=i-0e71dbce5f19c68c1" \
          --comment "Deploy Express App" \
          --parameters commands="$(cat << 'EOF'
        docker pull 692859952204.dkr.ecr.ap-south-1.amazonaws.com/express-poc:${{ github.sha }}
        docker stop app || true
        docker rm app || true
        docker run -d --name app -p 80:3000 692859952204.dkr.ecr.ap-south-1.amazonaws.com/express-poc:${{ github.sha }}
        EOF
        )"

    # =========================================================
    # ACCOUNT B
    # =========================================================
    - name: Configure AWS credentials (Account B)
      if: ${{ inputs.deploy_target == 'account-b' || inputs.deploy_target == 'both' }}
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::692859952204:role/github-actions-role
        aws-region: us-east-1

    - name: Push image to ECR (Account B)
      if: ${{ inputs.deploy_target == 'account-b' || inputs.deploy_target == 'both' }}
      run: |
        aws ecr get-login-password \
          | docker login --username AWS --password-stdin 692859952204.dkr.ecr.us-east-1.amazonaws.com

        docker tag app:${{ github.sha }} \
         692859952204.dkr.ecr.us-east-1.amazonaws.com/express-poc:${{ github.sha }}

        docker push \
          692859952204.dkr.ecr.us-east-1.amazonaws.com/express-poc:${{ github.sha }}

    - name: Deploy to EC2 via SSM (Account B)
      if: ${{ inputs.deploy_target == 'account-b' || inputs.deploy_target == 'both' }}
      run: |
        aws ssm send-command \
          --document-name "AWS-RunShellScript" \
          --targets "Key=instanceIds,Values=i-0cf25da65c46f60a9" \
          --comment "Deploy Express App" \
          --parameters commands="$(cat << 'EOF'
        docker pull 692859952204.dkr.ecr.us-east-1.amazonaws.com/express-poc:${{ github.sha }}
        docker stop app || true
        docker rm app || true
        docker run -d --name app -p 80:3000 692859952204.dkr.ecr.us-east-1.amazonaws.com/express-poc:${{ github.sha }}
        EOF
        )"